@import "tailwindcss";

@theme {
  --font-display: 'Inter', sans-serif;
  --color-primary: #7AAC21;
  /* Verde oscuro principal */
  --color-dark: #1A1A1A;
  /* Negro / gris muy oscuro */
  --color-white: #FFFFFF;
  /* Blanco */
  --color-secondary: #007BA7;
  /* Azul suave */
  --color-accent: #A9F971;
  /* Verde claro acento */

  --color-background: #F8FAF9;
  /* Un tono muy claro de gris/verde para fondos secundarios */
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-dark);
}